{
    "extends": "airbnb",
    "rules": {
        "react/jsx-filename-extension": [
          1,
          {
            "extensions": [
              ".js",
              ".jsx"
            ]
          }
        ],
        "linebreak-style": 0,
        "arrow-parens": [
          "error",
          "as-needed"
        ],
        "arrow-body-style": [
          2,
          "as-needed"
        ],
        "class-methods-use-this": 0,
        "comma-dangle": [
          2,
          "always-multiline"
        ],
        "camelcase": 0,
        "import/imports-first": 0,
        "import/newline-after-import": 0,
        "import/no-dynamic-require": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-named-as-default": 0,
        "import/no-unresolved": 2,
        "import/no-webpack-loader-syntax": 0,
        "import/prefer-default-export": 0,
        "jsx-a11y/aria-props": 0,
        "jsx-a11y/heading-has-content": 0,
        "jsx-a11y/href-no-hash": "off",
        "no-unused-vars": "off",
        "jsx-a11y/anchor-is-valid": [
          "warn",
          {
            "aspects": [
              "invalidHref"
            ]
          }
        ],
        "jsx-a11y/label-has-for": 0,
        "jsx-a11y/mouse-events-have-key-events": 0,
        "jsx-a11y/role-has-required-aria-props": 0,
        "jsx-a11y/role-supports-aria-props": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "jsx-a11y/label-has-associated-control": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "max-len": 0,
        "newline-per-chained-call": 0,
        "no-confusing-arrow": 0,
        "no-shadow": 0,
        "no-use-before-define": 0,
        "no-underscore-dangle": 0,
        "no-param-reassign": [
          "error",
          {
            "props": false
          }
        ],
        "prefer-template": 2,
        "react/forbid-prop-types": 1,
        "react/jsx-first-prop-new-line": [
          2,
          "multiline"
        ],
        "function-paren-newline": [
          "error",
          "consistent"
        ],
        "react/jsx-no-target-blank": 0,
        "react/require-default-props": 0,
        "react/require-extension": 0,
        "react/self-closing-comp": 0,
        "react/jsx-indent": [
          "error",
          2
        ],
        "react/prop-types": 0,
        "require-yield": 0,
        "indent": [
          "error",
          2,
          {
            "SwitchCase": 1
          }
        ]
      }
}
